{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block directory %}
/website/<a href="/" style="text-decoration: none;color: lime">www</a>/about.txt
{% endblock %}
{% block content %}
"Welcome to my site! This is a Flask application deployed to a Debian webserver. I will be using this site to give a small introduction to myself, as well as to publish writings on subjects I am interested in.<br><br>I am a Canadian interested in how stuff works. I have numerous topics of interest, and would love to share my knowledge with anyone willing to embrace it. I am a hobbyist programmer, and will soon be attending Red River College to be a Heavy Duty Tech - so you can likely expect me to write on these subjects as well."
{% endblock %}